---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";

const identity = {
  firstName: "Stephen",
  country: "Hong Kong",
  occupation: "UCL student",
  hobbies: ["jok say", "sik see", "yak jiu"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 5;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      body {
        h1 {
          color: purple;
          font-size: 4rem;
        }
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p>
        Hi, I'm {identity.firstName} from {identity.country}. I'm a{" "}
        {identity.occupation}. My hobbies are{" "}
        {identity.hobbies.map((hobby) => <span>{hobby}, </span>)}
         and more!
      </p>
      <p>
        I'm currently learning{" "}
        {skills.map((skill) => <span class="skill">{skill}, </span>)}
         and more!
      </p>
      <p>
        {happy ? "I'm happy!" : "I'm sad!"}{" "}
        {finished ? "I've finished!" : "I'm not finished!"}{" "}
        {goal === 5 ? "I've reached my goal!" : "I haven't reached my goal!"}
      </p>
    </BaseLayout>
  </body>
</html>
